#grid{
    display: flex;
    background-color: #2196F3;
    width: 1000px;;;
    
    }
    .column{
        flex: 1;
    } 

    .row{
      margin: 2px;
      background: gold;
      text-align: center;
    }
    .hoverMouse{
      background-color: green;
    }
    #gridButton{
      padding: 10px;
      margin: 5px 5px 14px 0px;
    }