#grid{
    display: flex;
    background-color: #2196F3;
    
    }
    .column{
        flex: 1;
    } 

    .row{
      margin: 2px;
      background: gold;
      text-align: center;
    }
    .hoverMouse{
      background-color: green;
    }